<div class="row">
  <div class="col-sm">
    Domain Recon
      * Subdomains
        * dnscan
        * crt.sh
      * Paths
        * dirsearch
      * Screenshot
        * web-screenshot
        * screenshot2
      * Scrapers
        * xtrm-scraper
        * top-minecraft
        * bounty-targets-data
  </div>
  <div class="col-sm">
    Host Recon
      * Enumeration
        * nmap
        * zmap
        
    Host Attacks
      * VNC
        * pwnVNC
  </div>
  <div class="col-sm">
    Web Application Recon
      * Screenshot
        * web-screenshot
        * screenshot2
      * Paths
        * Dirsearch
      * Javascript
        * get-javascript-stuff (todo)
      * Misc
        * Vhostscan (todo)

    Web Application Attacks
      * Database
        * sqlmap
      * Parameters
        * wfuzz
  </div>
  <div class="col-sm">
    Passwords
      * Brute Forcing
        * hashcat
      * Dumps
        * breach-compilation
  </div>
</div>