<div class="container no-gutters">
  <div class="row">
    <div class='col-sm-6'>    
      <div class='form-group'>
        <label for="breach-compilation-target">Target</label>
        <input class="form-control form-control-sm" id="breach-compilation-target" name="breach-compilation-target" placeholder="Username, email, etc" required="true" type="text" />
      </div>
    </div>

    <button class="btn btn-danger form-control" id="breach-compilation-run">Search</button>
  </div>
</div>