<div class="container no-gutters">
  <div class="row">
    <div class='col-sm-6'>    
      <div class='form-group'>
        <label for="subbrute-target">Target</label>
        <input class="form-control form-control-sm" id="subbrute-target" name="subbrute-target" placeholder="Target URL" required="true" type="text" />
      </div>
    </div>
    <div class='col-sm-6'>
      <div class='form-group'>
        <label for="subbrute-output">Output Name</label>
        <input class="form-control form-control-sm" id="subbrute-output" name="subbrute-output" placeholder="Output File Name (Autoparses)" type="text" />
      </div>
    </div>
</div>

<div class="row">
  <div class='col-sm-6'>
    <div class='form-group'>
      <label for="subbrute-wordlist">Select Wordlist</label>
      <select class="form-control form-control-sm" id="subbrute-wordlist">
        <option>/path/to/wordlist</option>
      </select>
    </div>
  </div>
</div>

<button class="btn btn-danger form-control" id="subbrute-run">Run</button>
</div>