<%
  def response_to_color(response)
    if response == "200"
      return "success"
    elsif response == "301" or response == "302"
      return "warning"
    elsif response == "500" or response == "403" or response == "400"
      return "danger"
    else
      return "none"
    end
  end
%>

<%
  scheme = web_application.scheme

  if (web_application.domain_id != nil)
    target = Domain.find(web_application.domain_id).domain_name
  else
    target = Host.find(web_application.host_id).ip
  end

  port = Service.find(web_application.service_id).port_number

  full_url = "#{scheme}://#{target}:#{port}"
  full_ss_path = "/ss/#{scheme}#{target}#{port}-ss.png"
%> 

<%
  pages = Page.where(web_application_id: web_application.id)
%>

<% if pages.size > 0 %>
  <h5>Dirsearch Results</h5>
  <table style="width:100%" class="table table-secondary fixed-width-table page-table">
    <thead>
      <tr>
        <th>URL</th>
        <th>Code</th>
        <th>Size</th>
        <!-- <th>Redirect</th> -->
      </tr>
    </thead>

      <tbody>
        <% seen = [] %>
        <% pages.each do |scan| %>
          <% next if page.path == "" or seen.include? entry.path %>
          <% seen << page.path %>
          <tr class="table-secondary">
            <td class="noselect" style="word-break: break-word;"><%= "#{full_url}/#{entry.path}" %></td>
          	<td><%= "#{page.status}" %></td>
          	<td><%= "#{page.content_length}" %></td>
          	<!-- <td><%= "#{entry.redirect}" %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>