<div class="row" style="margin-top:10px">
  <div class="col">
    <div class="float-right">
      <button href="#" class="btn btn-primary send-to-autoscan" data-tool-name="<%= tool_name %>" data-target-replacer="<%= autoscan_replacer %>">Send to AutoScan</button>
    </div>
  </div>
</div>
