<div style="margin-top:10px" class="float-right">
  <button href="#" class="btn btn-primary send-to-autoscan" data-tool-name="<%= tool_name %>" data-target-replacer="<%= autoscan_replacer %>"><%= text %></button>
</div>
