<h4>Services</h4>

<table class="table service-table table-hover" style="">
  <thead>      
    <tr>
      <th scope="col">Port</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  <% host.services.each do |service| %>

    <tr>
      <td>
        <%= service.port_number %>
      </td>
      <td>
        <%= service.service_name %>
      </td>
    </tr>

  <% end %>
</table>