<li class="nav-item">
  <a class="terminal-nav-link nav-link" data-toggle="tab" href="#<%= tid %>" id="tab-<%= tid %>">
    <%= ordinal %>
    &nbsp;&nbsp;
    <small>
      <button type="button" tid="<%= tid %>" class="close close-terminal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </small>
  </a>
</li>