<form class="trigger-comment" data-trigger-id="<%= trigger.id%>">
  <div class="form-group">
    <textarea class="form-control" name="trigger-comment" rows="3" placeholder="Note"><%= trigger.note %></textarea>
    <button type="submit" class="add-trigger-comment" class="btn btn-primary">Save</button>
  </div>
</form>