
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#tab-host-summary" data-toggle="tab">Hosts by IP</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tab-host-risk" data-toggle="tab">Service Overview</a>
  </li>
</ul>

<!-- overview side nav; list of domains -->
<div class="tab-content clearfix">
  <div class="tab-pane active" id="tab-host-summary">
    <div class="row">
      <div class="col">
        <table id="host-table" width="100%" cellspacing="0" class="table fixed-width-table selectable nowrap">
          <thead style="width:100%">

          </thead>
          <!-- ? -->
          <tbody class="selectable" update-url="/projects/<%= @project.id %>/hosts/">

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
