<div class="form-group">
  <h5>Import page</h5>
  <textarea class="form-control parse-http-request-textarea" rows="5" placeholder="Raw HTTP request data"></textarea>
  <button class="btn btn-block btn-danger parse-http-request-button" web-app-id="<%= web_application.id %>">Import Request</button>
</div>