<% if dns_record.feed_items.where(source_plugin: "dnscan").count == 0 %>
  <%= "No dnscan activity detected." %>
<% else %> 
  <ul class="list-group" style="max-height:300px;margin-bottom:10px;overflow:scroll;-webkit-overflow-scrolling: touch;">
    <% dns_record.feed_items.where(source_plugin: "dnscan").each do |dns_record_feed_item| %>
      <li class="list-group-item">[time] <%= dns_record_feed_item.value %></li>
    <% end %>
  </ul>
<% end %>